#top,#bottom{
    position: relative;
    margin: auto;
    text-align: center;
}

#buttonDiv{
    position: relative;
    top: 10px;
    font-family: "Architects Daughter";
}

#bottom {
    top: 20px;
}

#word,#guessedLetters{
    font-family: "Architects Daughter";
}

#end{
    font-size: 50px;
    font-family: "Nanum Pen Script";
}

#title,#start{
    font-family: Rockwell;
}